.projects-container {
  margin-top: 200px;
}

.projects-title {
  font-size: 5rem;
}

.projects-list-container {
  margin-top: 150px;
}

.project-list {
  margin: 50px 0;
}

.projects-list-title {
  p {
    font-size: 2rem;
    &:last-of-type {
      opacity: 0.5;
      font-size: 1.5rem;
    }
  }
}

.projects-list-title-even {
  p {
    font-size: 2rem;
    &:last-of-type {
      opacity: 0.5;
      font-size: 1.5rem;
    }
  }
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.description-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  img {
    width: 50%;
    border-radius: 10px;
    filter: drop-shadow(30px 20px #575757);
  }
  p {
    border-radius: 20px;
    background-color: rgb(62, 62, 62);
    padding: 20px;
    font-size: 1.2rem;
  }
}

.project-buttons {
  margin-top: 20px;
  display: flex;
  align-items: center;
  a {
    position: relative;
    text-decoration: none;
    z-index: 100;
    color: white;
    font-size: 2rem;
    transition: all 0.2s ease-in-out;
    &:first-of-type {
      padding-left: 0px;
    }
    &:hover {
      color: black;
    }
  }
}

.underline {
  height: 2px;
  width: 100%;
  background-color: white;
  position: absolute;
  bottom: 1%;
  transition: all 0.2s ease-in-out;
}

.links-container {
  position: relative;
  text-align: center;
  margin-right: 40px;
  z-index: 15;
  width: 32%;
}

.links-container-code {
  position: relative;
  text-align: center;
  margin-right: 40px;
  width: 20%;
}

.description {
  width: 40%;
  margin-top: 20px;
}
