.about-container {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
}

.about-title {
  font-size: 5rem;
  height: 100px;
  overflow: hidden;
}

.about-description-container {
  margin-top: 50px;
  width: 100%;
}

.about-description {
  font-size: 1.2rem;
  background-color: rgb(62, 62, 62);
  border-radius: 20px;
  opacity: 0;
  p {
    padding: 20px;
    line-height: 150%;
  }
}

.about-icons {
  padding: 0 0 20px 20px;
  a {
    color: white;
  }
  svg {
    padding: 0 10px;
    &:first-of-type {
      padding-left: 0px;
    }
  }
}

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.image-container {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px;
  gap: 10px;
  img {
    width: 50px;
    height: auto;
    object-fit: contain;
  }
}

.image-border {
  border: 1px solid white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  opacity: 0;
  p {
    font-size: 0.9rem;
  }
}
