.intro-container {
  height: calc(100vh - 92.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.name {
  overflow: hidden;
  height: 100px;
  overflow: hidden;
  p {
    font-size: 5rem;
    animation: slideIn 1.8s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    animation-fill-mode: forwards;
  }
}

.intro-paragraph {
  height: 30px;
  overflow: hidden;
  margin-top: 10px;
  opacity: 0.5;
  font-size: 1.5rem;
  p {
    animation: slideIn 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    animation-fill-mode: forwards;
  }
}

.title {
  height: 100px;
  overflow: hidden;
  p {
    font-size: 5rem;
    opacity: 0.5;
    animation: slideIn 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    animation-fill-mode: forwards;
  }
}

.icons {
  margin-top: 30px;
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 40px;
  a {
    color: white;
    animation: slideIn .7s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    animation-fill-mode: forwards;
  }
  svg {
    padding-right: 10px;
    cursor: pointer;
    &:first-of-type {
      padding-left: 0px;
    }
  }
}

.intro-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  button {
    position: absolute;
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.514);
    font-size: 2rem;
    margin: 0 10px;
    height: 100px;
    bottom: 1%;
    &:first-of-type {
      margin-left: 0px;
    }
  }
}
