.intro-container {
  height: calc(100vh - 92.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.name {
  p {
    font-size: 5rem;
  }
}

.intro-paragraph {
  margin-top: 10px;
  opacity: 0.5;
  font-size: 1.5rem;
}

.title {
  p {
    font-size: 5rem;
    opacity: 0.5;
  }
}

.icons {
  margin-top: 30px;
  display: flex;
  align-items: center;
  svg {
    padding: 0 10px;
    &:first-of-type {
      padding-left: 0px;
    }
  }
}

.intro-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  button {
    position: absolute;
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.514);
    font-size: 2rem;
    margin: 0 10px;
    height: 100px;
    bottom: 1%;
    &:first-of-type {
      margin-left: 0px;
    }
  }
}
