.work-container {
  margin-top: 100px;
  margin-inline: auto;
  width: min(70%, 100rem);
}

.work-description {
  max-width: 600px;
}

.work-title {
  font-size: 5rem;
  height: 100px;
  overflow: hidden;
}

.work-list-title {
  margin: 30px 0 30px 0;
  
  p {
    font-size: 2rem;
    &:nth-of-type(2) {
      font-size: 1.6rem;
    }
    &:last-of-type {
      opacity: 0.5;
      font-size: 1.5rem;
    }
  }
}

.bullet-container {
  display: flex;
  align-items: flex-start;
  margin: 15px 0 15px 0;
  .bullet {
    transform: translateY(-9px);
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 750px) {
    .work-container {
        width: auto;
    }
}
